@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


  h1{
    font-size: 1.6rem;
    font-weight: 600;
  }
 h2{
    font-size: 1.5em;
    font-weight: 600;
  }
 h3{
    font-size: 1.4rem;
    font-weight: 600;
  }
 h4{
    font-size: 1.3rem;
    font-weight: 600;
  }
 h4{
    font-size: 1.2rem;
    font-weight: 600;
  }
 h5{
    font-size: 1.1rem;
    font-weight: 500;
  }
 h6{
    font-size: 1rem;
    font-weight: 500;
  }
  p{
    font-size: 1rem;
    font-weight: 400;
  }
  td{
    padding-left: 10px;
    padding-right: 50px !important;
    min-width: 200px;
  }
  .tr--hover:hover{
    cursor: pointer;
    background-color: rgba(7, 162, 165, 0.3);
  }
  .tr--hover{
    border-bottom: 1px solid #F4F4F4;
  }
  input, select{
    width: 350px;
    height: 50px;
    border: 0.7px solid #b2b2b2;
    border-radius: 5px;
  }
  input:focus{
    border-color: rgba(7, 162, 165,) ;
  }
  button{
    padding: 5px 10px;
    border-radius: 10px;
  }
  .overflow-scroll::-webkit-scrollbar{
    display: hidden !important;
  }
  .tiptap.ProseMirror{
    padding: 10px;
  }
  .overflow-scroll{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .rbc-event, .rbc-event.rbc-selected{
    background-color:rgba(7, 162, 165) ;
  }
  .rbc-day-slot .rbc-background-event  {
    color: black;
    background-color:rgba(7, 162, 165, 0.2) ;
    border: 1px solid rgba(7, 162, 165, 0.3);
  }